{% extends "horizon/common/_modal.html" %}
{% load i18n %}
{% load url from future %}

{% block modal_id %}role_manage_blacklist{% endblock %}
{% block modal-header %}{% trans "VO Join Requests" %}{% endblock %}

{% block modal-body %}
    <div class="role-summary">
    <h3 class="role-heading">VO Role summary</h3>
	    <dl>
		    <dt>VO Role name:</dt>
			    <dd>{{ role.name }}</dd>
		    <dt>Description:</dt>
			    <dd>{{ role.desc }}</dd>
		    <dt>Group ID:</dt>
			    <dd>{{role.group_id}}</dd>

	    </dl>
    </div>
    {{ table.render }}
{% endblock %}

{% block modal-footer %}
<a href="{% url 'horizon:admin:virtual_organisations:manage' role.id %}" class="btn secondary cancel close">{% trans "Close" %}</a>
{% endblock %}


