
{% for hidden in form.hidden_fields %}
  {{ hidden }}
{% endfor %}
{% for field in form.federated_fields %}
    {{ field.label_tag }}
    {% if field.help_text %}
      <span class="help-icon"><i class="icon-question-sign"></i></span>
    {% endif %}
    {% if field.errors %}
      {% for error in field.errors %}
        <p class="help-block">{{ error }}</p>
      {% endfor %}
    {% endif %}
    {% comment %}
    Escape help_text a second time here, to avoid an XSS issue in bootstrap.js.
    This can most likely be removed once we upgrade bootstrap.js past 2.0.2.
    Note: the spaces are necessary here.
    {% endcomment %}
    <span class="help-block">{% filter force_escape %} {{ field.help_text }} {% endfilter %} </span>
    {{ field }}
{% endfor %}

